<div class="card-container">
    <div *ngFor="let artwork of artworks">
        <app-art-card
            title="{{artwork.title}}"
            date="{{artwork.date}}"
            imageUrl="{{artwork._links.thumbnail.href}}"
            artists="{{artwork.artists[0].name}}"
            method="{{artwork.medium}}"
            dimensions="{{artwork.dimensions.in.text}}">
        </app-art-card>
    </div>
</div>

<div class="paginator">
    <button (click)="loadPrevArtworks()">Prev</button>
    <span>{{page}}</span>
    <button (click)="loadNextArtworks()">Next</button>
</div>
