.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align cards to the left */
    width: 340px; /* Adjust based on your card width plus any padding/margin */
    padding: 10px;
  }
  
  .next-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 24px;
    background-image: linear-gradient(to right, #0062cc, #0096ff); /* Gradient from darker to lighter blue */
    color: white;
    font-weight: bold; /* Makes the text bold */
    border: none;
    border-radius: 30px; /* Fully rounded corners for a pill-like shape */
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; /* Smooth transitions for interactive effects */
    z-index: 1000;            /* Ensures it's above other content */
  }
  
  .next-button:hover {
    background-image: linear-gradient(to right, #004ba0, #007bff); /* Darker gradient on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
    transform: scale(1.05);   }